@import "../base/reset";
@import "../abstract/variables";
@import "../layout/nav";
@import "../layout/profile-body";

:root, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-background-canvas);
}
