// Colors
$color-background-container: #fff;
$color-background-canvas: #f3f2ef;
$voyager-color-background-input-search: #eef3f8;
$color-border-faint: rgba(0, 0, 0, 0.08);
$color-brand: #0a66c2;
$color-text-active: rgba(0, 0, 0, 0.9);
$color-icon: rgba(0, 0, 0, 0.6);

// Line-height
$spacing-three-x: 2.4rem;
$scaffold-layout-gutter: 2.4rem;

// Border-radius
$corner-radius-small: 0.4rem;
$corner-radius-medium: 0.8rem;

// Margin
$scaffold-layout-gutter: 2.3rem;

// Width
$scaffold-layout-xl-max-width: 1128px;
$scaffold-layout-lg-max-width: 960px;
$scaffold-layout-md-max-width: 720px;
$scaffold-layout-none-max-width: 576px;
